.child {
    border: dashed blue;
    padding: 10px;
    margin: 10px;
}

.wrapper {
    text-align: center;
    color: red;
    margin: 50px;
    /* height: 300px; */
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    border: solid 0.5px black;
}

.img {
    width: 100%;
}